.ContanedorDetalles{
    display: flex;
    justify-content: center;
    
}
.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}
.movieImage{
    border-radius: 15px;
}
.detallesText{
    font-size: 1.5rem;
}
.PrimerElemento{
    margin-top: 1;
}